.header {
  background-color: #000;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin: auto;
  max-width: 880px;
}

.header__logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  padding-top: 4.5%;
  width: 100%;
  height: 74px;
  border-bottom: #545454 solid 2px;
}

.header__logo {
  height: 33px;
  width: 173px;
}

.header__profile-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 120px;
  padding-top: 40px;
}

.header__profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.header__profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-left: 30px;
}

.header__title-container {
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.header__title {
  font-family: "Inter-Medium", Arial, sans-serif;
  font-size: 42px;
  line-height: 1.15;
  color: #fff;
  margin: 0;
}

.header__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin: 0;
  padding-top: 16px;
}

.header__edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: 18px;
}

.header__edit-icon {
  width: 24px;
  height: 24px;
}

.header__add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;

  border: 2px solid #fff;
  margin-left: auto;
}

.header__add-icon {
  height: 22px;
  width: 22px;
}

.header__profile-image-container {
  position: relative;
  width: 120px;
  height: 120px;

}
.header__profile-image-container:hover .header__profile-image {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
  }

.header__change-image-button {
  position: absolute;
  bottom: 47px;
  right: 47px;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  margin: auto;
  padding: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}

.header__profile-image-container:hover .header__change-image-button {
  opacity: 1;
  pointer-events: auto;
}

.header__change-image-icon {
  width: 26px;
  height: 26px;
}

@media screen and (max-width: 1000px) {
  .header {
    padding-left: 8%;
    padding-right: 8%;
  }
}

@media screen and (max-width: 850px) {
  .header__container {
    align-items: center;
    margin: auto;
    width: 100%;
  }

  .header__logo-container {
    align-items: center;
    padding-top: 0;
    width: 100%;
    height: 84px;
  }

  .header__logo {
    height: 24px;
    width: 126px;
  }

  .header__profile-container {
    display: contents;
  }

  .header__profile-image {
    margin-top: 10%;
  }

  .header__profile-info {
    padding-left: 0;
    align-items: center;
  }

  .header__title-container {
    padding-top: 30px;
  }

  .header__title {
    font-size: 22px;
  }

  .header__subtitle {
    font-size: 14px;
    padding-top: 14px;
  }

  .header__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }

  .header__edit-icon {
    width: 18px;
    height: 18px;
  }

  .header__add-button {
    width: 100%;

    border: 2px solid #fff;
    margin: auto;
    margin-top: 36px;
  }

  .header__add-icon {
    height: 16px;
    width: 16px;
  }
}
